<style type="text/css">

body {
  padding:0px;
  margin:0px;
}

#menu ul {
  padding:10px;
  margin:0px;
  float: left;
  width: 100%;
  background-color:#A9E2F3;
  list-style:none;
  font:100% Tahoma;
}

#menu ul li { display: inline; }

#menu ul li a {
  background-color:#A9E2F3;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  border-bottom:0px solid #EDEDED;
  padding: 5px 30px;
  float:center;
}

#menu ul li a:hover {
  background-color:#D6D6D6;
  color: #333;
  border-bottom:5px solid #FAAC58;
}
</style>
